- prev_date ||= ''
- ##if entry.is_live
.post
  .date
    - if prev_date != entry.created_at.strftime("%a%d%Y")
      .date_brick
        = entry.created_at.strftime("%b")
        %br/
        = entry.created_at.strftime("%d")
      = entry.created_at.strftime("%a")
    %div{:style => "font-size:0.4em"}
      = link_to(entry.created_at.strftime("%H:%M"), "/perm/#{entry.id}")
  %h2
    - if @on_slug 
      = entry.title
    - else
      %a{:href => "/blog/#{entry.slug}"}
        = entry.title
  = entry.html
- ##end