- if @on_slug
  .h1
    = link_to('Blog', '/blog')

.post
  - if @on_slug
    %h1.main
      = entry.title
  - else
    %h2.main
      %a{:href => "/blog/#{entry.slug}"}
        = entry.title
  .date
    = entry.created_at.strftime("%A, %d %B, %Y")
  .post-details
    = entry.html