.post
  - if @on_slug
    %h1
      = entry.title
  - else
    %h2
      %a{:href => "/blog/#{entry.slug}"}
        = entry.title
  .date
    = entry.created_at.strftime("%A, %d %B, %Y")
  .post-details
    = entry.html