%h2 Admin
%p
  %b Blog Title
  = @blog.title
%p= link_to('New Entry', '/admin/new')
- @entries.each do |entry|
  %p
    %a{:href => "/perm/#{entry.id}"}= entry.title
    %small
      (#{time_ago_or_time_stamp(entry.created_at)} [live = #{entry.is_live}])
    = link_to 'Edit', "/admin/update/#{entry.id}"
    |
    \#{link_to 'Preview Slug', "/blog/#{entry.slug}"} |
    \#{link_to 'Delete', "/admin/destroy/#{entry.id}", :onclick => "return confirm('Are you sure?');"}

%h2 TODO
%p Google analytics code
%p Keywords & Description
%p Any rhc widgets
%p Logo?