%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title 
      = @title ? "#{@title} | " : ''
      = @blog.title
    %link{:href => "/css/admin.css", :media => "screen", :rel => "Stylesheet", :type => "text/css"}
  %body
    #wrapper
      - if logged_in?
        #nav
          %a{:href => "/admin"} Admin
          | #{link_to('New Entry', '/admin/new')} |
          %a{:href => "/logout"} Logout
      #container.container
        #header.header
          %h1= link_to @blog.title, '/'
        #content.content
          = yield
        #footer.footer
      