%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title 
      = @title ? "#{@title} | " : ''
      = @blog.title
    %link{:href => "/style.css", :media => "screen", :rel => "Stylesheet", :type => "text/css"}
    %link{:href => "/tumblr.css", :media => "screen", :rel => "Stylesheet", :type => "text/css"}
  %body(class="#{yield_content :body_class}" id="#{yield_content :body_id}")
    %h1= link_to @blog.title, '/'
    - if logged_in?
      #nav
        %a{:href => "/admin"} Admin
        | #{link_to('New Entry', '/admin/new')} |
        %a{:href => "/logout"} Logout
    #content
      = yield
    #footer

  :plain
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
    <script type="text/javascript"> 
    if (typeof jQuery == 'undefined')
    {
        document.write(unescape("%3Cscript src='/javascripts/jquery-1.5.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
  = yield_content :footer_scripts